@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

:root {
  background-color: white;
}
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: white;
  color: white;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: #8a3330 solid 1px;
}

.section1 {
  background-color: #db524d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border-bottom: #8a3330 solid 1px;
  align-items: center;
  background-color: #db524d;
  display: flex;
  justify-content: space-evenly;
}

#header_buttons {
  display: flex;
}

#pomofocus {
  font-style: bold;
  font-weight: 700;
}

button {
  background: #f07d79a6;
  color: white;
  border-style: none;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
  margin: 0.5rem;
}

#button1:hover,
#button2:hover,
#button3:hover {
  background-color: white;
  color: #db524d;
}

.timething {
  background: #f07d79a6;
  margin: 2rem;
  border-radius: 6px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#timething_top h3:hover {
  background-color: #a746439f;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#timething_top {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

#pomodoro {
  background-color: #a746439f;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#time {
  text-align: center;
  font-size: 8rem;
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #db524d;
  border-radius: 6px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-size: 2.5rem;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  grid-column-start: 2;
  margin-bottom: 1.5rem;
}

#start:hover {
  background-color: white;
  color: #db524d;
  box-shadow: none;
  transform: translate(0, 0.2em);
}

#working {
  text-align: center;
}

#working h2 {
  font-size: 1rem;
  font-weight: 200;
}

#working p {
  font-size: 1.5rem;
  font-weight: 400;
}

#tasks_section {
  margin: 2rem;
}

#tasks_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: white solid 2px;
}

#img img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 6px;
  background: #f07d79a6;
}

#img {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 3;
}

.milk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  border-left: black solid 4px;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.milk img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 360px;
  border: grey solid 0.5px;
  background-color: rgba(128, 128, 128, 0.568);
  grid-column-start: 1;
  grid-row-start: 1;
}

#milk_p1 {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-content: flex-end;
  font-weight: 700;
}

#milk_p2 {
  grid-column-start: 4;
}

.code {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.code img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 360px;
  border: grey solid 0.5px;
  background-color: #db524d;
  grid-column-start: 1;
  grid-row-start: 1;
}

#code_p {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-content: flex-start;
  opacity: 70%;
  font-weight: 700;
}

.add {
  border: white dashed 2px;
  border-radius: 6px;
  background: #a746439f;
  opacity: 50%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.add:hover {
  background-color: white;
  border: #db524d dashed 2px;
  color: black;
}

#est {
  background-color: #f07d79a6;
  text-align: center;
  padding: 1rem;
  border-top: #f1a9a7a6 solid 2px;
}

.section2 {
  background-color: white;
  color: black;
  padding: 1rem;
  margin-left: 13rem;
  margin-right: 13rem;
  text-align: justify;
}

b {
  color: #db524d;
}

footer {
  background-color: white;
  color: black;
  margin-left: 15rem;
  margin-right: 15rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#footer {
  display: flex;
  justify-content: space-evenly;
}

footer h4 {
  text-align: center;
}

@media screen and (min-width: 425px) {
  .section1 {
    margin-left: 5rem;
  }

  header {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
  }
  .section2 {
    margin: 2rem;
  }

  #footer {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}
