body {
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: #db524d;
  color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#button1 {
  grid-column-start: 4;
}

button {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border-style: none;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
}

.timething {
  background: rgba(255, 255, 255, 0.5);
  margin: 2rem;
  padding: 2rem;
}

#timething_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#time {
  text-align: center;
  font-size: 10rem;
}

#start {
  grid-column-start: 2;
}
